.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.card:hover{
    background-color: #EAF0F5 ;
    transform: scale(1.1);
}

.tech-stack{
    font-size: 10px !important;
}

.tech-stack:hover{
    font-weight: bold;
}

.style-link-card{
    color: black;
}
.style-link-card:hover{
    color: black;
    text-decoration: none;
}

.card-text{
    min-height: 100px;
    font-size: 13px !important;
    line-height: 22px !important;
}