.style-icon{
    text-align: left;
}

.desc-milantv{
   margin: 0 100px 0 150px;
}

.style-ss-milantv img{
    border: 3px solid rgb(157, 32, 32);
    border-radius: 10px;
}

@media (max-width: 767.98px) { 
    .desc-milantv{
        margin: 0 ;
     }
   
 }