.jumbotron-pages{
    background-color: #5E8EB0 ;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 800px;
}

.heading-pages{
    color: white;
}